slnErpPanorama/ErpPanorama.Presentation/Modulos/Ventas/Rpt/reportemarca.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="reportemarca"
    targetNamespace="http://tempuri.org/reportemarca.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/reportemarca.xsd"
    xmlns:mstns="http://tempuri.org/reportemarca.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="reportemarca">
    <xs:complexType>
      <xs:sequence />
      <xs:attribute name="IdMarca" type="xs:int" />
      <xs:attribute name="IdEmpresa" type="xs:int" />
      <xs:attribute name="DescMarca" type="xs:string" />
      <xs:attribute name="FlagEstado" type="xs:boolean" />
    </xs:complexType>
  </xs:element>
  
</xs:schema>
