slnErpPanorama/ErpPanorama.Presentation/Modulos/Ventas/Rpt/reportematerial.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="reportematerial"
    targetNamespace="http://tempuri.org/reportematerial.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/reportematerial.xsd"
    xmlns:mstns="http://tempuri.org/reportematerial.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="reportematerial">
    <xs:complexType>
      <xs:sequence />
      <xs:attribute name="IdMaterial" type="xs:int" />
      <xs:attribute name="IdEmpresa" type="xs:int" />
      <xs:attribute name="DescMaterial" type="xs:string" />
      <xs:attribute name="FlagEstado" type="xs:boolean" />
    </xs:complexType>
  </xs:element>

</xs:schema>
