slnErpPanorama/ErpPanorama.Presentation/Modulos/Ventas/Rpt/reportepedidopreventavendedor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="reportepedidopreventavendedor"
    targetNamespace="http://tempuri.org/reportepedidopreventavendedor.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/reportepedidopreventavendedor.xsd"
    xmlns:mstns="http://tempuri.org/reportepedidopreventavendedor.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="reportepedidopreventavendedor">
    <xs:complexType>
      <xs:sequence />
      <xs:attribute name="DescVendedor" type="xs:string" />
      <xs:attribute name="Total" type="xs:decimal" />
    </xs:complexType>
  </xs:element>
  
</xs:schema>
