slnErpPanorama/ErpPanorama.Presentation/Modulos/Ecommerce/Rpt/reporteVentas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="reportepedidotipoventa"
    targetNamespace="http://tempuri.org/reportepedidotipoventa.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/reportepedidotipoventa.xsd"
    xmlns:mstns="http://tempuri.org/reportepedidotipoventa.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="reporteVentas">
    <xs:complexType>
      <xs:sequence />
      <xs:attribute name="Situacion" type="xs:string" />
      <xs:attribute name="TotalVentas" type="xs:decimal" />
      <xs:attribute name="Tickets" type="xs:int" />
    </xs:complexType>
  </xs:element>
  
</xs:schema>
