slnErpPanorama/ErpPanorama.Presentation/Modulos/Maestros/Rpt/reportearea.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="reportearea"
    targetNamespace="http://tempuri.org/reportearea.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/reportearea.xsd"
    xmlns:mstns="http://tempuri.org/reportearea.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <xs:element name="reportearea">
    <xs:complexType>
      <xs:sequence />
      <xs:attribute name="IdEmpresa" type="xs:int" />
      <xs:attribute name="IdArea" type="xs:int" />
      <xs:attribute name="DescArea" type="xs:string" />
      <xs:attribute name="FlagEstado" type="xs:boolean" />
    </xs:complexType>
  </xs:element>
  
</xs:schema>
